@model HomeDetailsViewModel

@Model.PageTitle

<h1>View</h1>
<div>Details Page</div>


<div class="container mt-3">
    <h2>Bordered Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="table">
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr id="firstRow">
                <td>@Model.Employee1.Name</td>
                <td>@Model.Employee1.Email</td>
                <td>@Model.Employee1.Department</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>mary@na.com</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>July</td>
                <td>dooley@na.com</td>
                <td>HR</td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer text-center">
        <a asp-controller="Home" asp-action="Index"
           class="btn btn-primary">
            Back
        </a>
        <a asp-controller="Home"  
           class="btn btn-primary">
            Edit
        </a>
        <a asp-controller="Home" 
           class="btn btn-danger">
            Delete
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/test.js"></script>
}








