
@{
    ViewBag.Title = "Not Found";
}

<h2>@ViewBag.ErrorMessage</h2>
<h2>@ViewBag.Path</h2>
<h2>@ViewBag.QS</h2>

<a asp-action="Index" asp-controller="Home">
    Click Here to Navigate to the Home Page
</a>








